@font-face {
  font-family: "quicksand-light";
  src:
    local("Quicksand-Light"),
    url("./fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-regular";
  src:
    local("Quicksand-Regular"),
    url("./fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-medium";
  src:
    local("Quicksand-Medium"),
    url("./fonts/Quicksand-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-semibold";
  src:
    local("Quicksand-SemiBold"),
    url("./fonts/Quicksand-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "quicksand-bold";
  src:
    local("Quicksand-Bold"),
    url("./fonts/Quicksand-Bold.ttf") format("truetype");
}
