@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-laptop: 870px;
  --breakpoint-tablet: 500px;

  --font-productSans: productsans-regular;
  --font-quicksandRegular: quicksand-regular;
  --font-quicksandMedium: quicksand-medium;
  --font-quicksandSemiBold: quicksand-semibold;
  --font-quicksandBold: quicksand-bold;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-300, currentColor);
  }
}

@layer base {
  h1 {
    @apply laptop:text-7xl font-productSans text-5xl;
  }

  h2 {
    @apply laptop:text-5xl font-productSans text-4xl;
  }

  h3 {
    @apply laptop:text-4xl font-productSans text-3xl text-white;
  }

  h4 {
    @apply laptop:text-2xl font-productSans text-xl;
  }

  h5 {
    @apply font-quicksandSemiBold text-xl;
  }

  li {
    @apply font-quicksandBold text-lg leading-6 text-white;
  }

  button,
  input,
  p {
    @apply font-quicksandRegular text-lg leading-6 text-white;
  }
}
